
  
  * {
    box-sizing: border-box;
  }
  
  
  .sign-in-block {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 35%;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.5s ease; /* Animate left property */
    z-index: 11500;
  }
  
  .sign-in-block.active {
    left: 0; /* Move into the viewport */
  }
  
  .sign-in-block h2 {
    margin-top: 0;
  }
  
  .sign-in-block form {
    display: flex;
    flex-direction: column;
  }
  
  .sign-in-block input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .sig {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  /* Close Button Styles */
  .close-btnp {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.9rem;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .close-btnp:hover {
    color: #007bff;
  }
  
  .form-container {
    background: white;
    padding: 20px;
    border-radius: 0px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
  }
  .form-container h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .form-container p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
  }
  .form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .sig label {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .form-container input[type="checkbox"] {
    margin-right: 10px;
  }
  .form-container button {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .form-container button:hover {
    background-color: #333;
  }
  .form-container small {
    font-size: 14px;
    color: #000000;
    display: block;
    margin-top: 20px;
    line-height: 1.4;
  }
  .form-container small a {
    color: #0073e6;
    text-decoration: none;
  }
  .form-container small a:hover {
    text-decoration: underline;
  }
  
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #0605055a;
    background-color: #fff; /* Ensures the navbar has a background */
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1005; 
  }
  
  @media (max-width: 768px) {
    .navbar {
        display: none;
    }
  }
  
  .left-section {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
  }
  
  .right-section {
    display: flex;
    align-items: left;
    gap: 20px;
    width: 14%;
    padding: 10px;
  }
  
  .center-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
  
  .center-section h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }
  
  .center-section img {
    width: 100px;
    height: 50px;
  }
  
  .flag-icon {
    height: 16px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  
  .nav-icon {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }
  
  .nav-icons {
    text-decoration: none;
    color: red;
    font-size: 20px;
  }
  
  
  /* Ensure navbar2 is only visible on mobile devices */
  @media (max-width: 768px) {
    .navbar2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.473);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
  
    .center-section2 {
        display: flex;
        align-items: center;
        width: 55%;
    }
  
    .center-section2 img {
        height: 40px;
        width: auto;
        margin-right: 10px;
    }
  
    .center-section2 h1 {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any text that overflows */
    text-overflow: ellipsis;
    }
  
    .left-section2 {
        display: flex;
        align-items: center;
        width: 10%;
    }
  
    .left-section2 .flag-icon {
        height: 20px;
        width: auto;
        margin-right: 5px;
    }
  
  
    .right-section2 {
        display: flex;
        align-items: center;
        width: 35%;
        gap:  20px;
        padding-left: 15px;
    }
  
    .nav-icon2, .nav-icon3 {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }
  
    .nav-icon2 svg, .nav-icon3 svg {
        fill: #333;
    }
  }
  
  /* Hide the navbar on larger screens */
  @media (min-width: 769px) {
    .navbar2 {
        display: none;
    }
  }
  
  
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    position: fixed;
    padding: 0px;
    height: 40px;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .menu-item {
    position: relative;
    height: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-item span {
    display: inline-block;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    cursor: default;
    cursor: pointer;
  }
  
  .menu-item span:hover {
    text-decoration: underline;
  }
  
  
  .content-block {
    position: fixed;
    top: -100%;  /* Start above the viewport */
    left: 0;
    width: 100%;
    height: 73vh;
    background-color: white;
    z-index: 500;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially fully transparent */
    transition: top 0.5s ease-in-out, visibility 0s 0.5s, opacity 0.5s ease-in-out;
  }
  
  .content-block.show {
    top: 100px; /* Final position */
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fade in */
    transition: top 0.5s ease-in-out, visibility 0s 0s, opacity 0.5s ease-in-out;
  }
  
  .content-block.hide {
    transform: translateY(-100%);
  }
  
  @media (max-width: 768px) {
    .content-block {
        z-index: 5000; /* On mobile, set z-index to 5000 */
    }
  
    .content-block.show {
        top: 50px; /* On mobile, set top to 10px */
    }
  }
  
  
  .containerp {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  
  .sidebar {
    width: 15%;
  }
  
  /* On mobile, ensure the layout remains responsive */
  @media (max-width: 768px) {
    .content-block {
        height: auto;
    }
    .contentr {
        display: none; /* Hide the content part */
    }
    .sidebar {
        display: block; /* Only show the sidebar */
    }
  
    .sidebar {
        width: 100%;
        padding: 10px;
        background-color: #f4f4f4;
        display: block;
    }
  }
  
  
  .sidebar h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  } 
  
  .sidebar p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .sidebar-link {
    text-decoration: none;  
    color: inherit;         /* Inherit text color from parent (so it matches the original styling) */
  }
  
  .sidebar-link p {
    cursor: pointer;       
  }
  
  .sidebar-link p:hover {
    text-decoration: underline;  /* Add underline on hover */
  }
  
  .sidebar-link {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
  }
  
  .button-link {
  background-color: #02060a; /* Blue background */
  color: white;            /* White text */
  border: none;
  padding: 11px 15px;
  border-radius: 0px;
  cursor: pointer;
  display: inline-flex;    
  align-items: center;       /* Center text vertically */
  justify-content: center;  
  text-decoration: none;
  }
  
  .button-link:hover {
  background-color: #052d56; /* Darker blue on hover */
  }
  
  
  .contentr {
    width: 85%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;  /* Aligns items at the top */
    justify-content: center;
  }
  
  .offer {
    width: 50%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('bl.jpg');
    background-position: center;
    background-size: 100% 100%;
  }
  
  .offer-box {
    position: absolute;
    top: 20%; /* Center vertically */
    left: 22%;
    transform: translate(-30%, -30%); 
    background-color:  transparent; 
    color: black; /* White text color */
    padding: 20px;
    border-radius: 0px;
    z-index: 1; 
  }
  
  .offer-box h2 {
    margin: 0 0 10px;
    font-size: 30px;
  }
  
  .offer-box p {
    font-size: 20px;
    margin: 0 0 20px;
  }
  
  .offer-box button {
    padding: 10px 20px;
    background-color: #000000; /* Button color */
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .offer2 {
    width: 50%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('sp2.jpg');
    background-position: center;
    background-size: 100% 100%;
  }
  
  .offer-boxs {
    position: absolute;
    top: 70%; /* Center vertically */
    left: 23%;
    transform: translate(-30%, -30%); 
    background-color:  transparent; 
    color: white; /* White text color */
    padding: 20px;
    border-radius: 0px;
    z-index: 1; 
  }
  
  .offer-boxs h2 {
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
  }
  
  .offer-boxs p {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-left: 30px;
  }
  
  .offer-boxs button {
    padding: 10px 100px;
    background-color: white; /* Button color */
    color: black;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .product {
    flex: 1;
    padding: 30px;
    border-radius: 0px;
  }
  
  .product img {
    width: 100%;
    height: 250px;
    border-radius: 0px;
  }
  
  .product h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .product .price {
    font-size: 16px;
    color: red;
  }
  
  .product .old-price {
    text-decoration: line-through;
    color: gray;
  }
  
  .product .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
  
  .product .rating span {
    font-size: 12px;
  }
  
  
  .offers {
    width: 25%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('balm.jpg') ;
    background-position: center;
    background-size: 100% 100%;
  }
  
  .offer-boxsd {
    position: absolute;
    top: 70%; /* Center vertically */
    left: 20%;
    transform: translate(-30%, -30%); 
    background-color:  transparent; 
    color: white; /* White text color */
    padding: 20px;
    border-radius: 0px;
    z-index: 1; 
  }
  
  .offer-boxsd h2 {
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
    text-transform: uppercase;
  }
  
  .offer-boxsd p {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-left: 30px;
  }
  
  .offer-boxsd button {
    padding: 10px 100px;
    background-color: white; /* Button color */
    color: black;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .products {
    width: 25%;
    padding: 30px;
    border-radius: 0px;
  }
  
  .products img {
    width: 100%;
    height: 250px;
    border-radius: 0px;
  }
  
  .products h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .products p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .products .price {
    font-size: 16px;
    color: red;
  }
  
  .products .old-price {
    text-decoration: line-through;
    color: gray;
  }
  
  .products .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
  
  .products .rating span {
    font-size: 12px;
  }
  
  
  .offersr {
    width: 25%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('cre.jpg') ;
    background-position: center;
    background-size: 100% 100%;
  }
  
  
  
  .offerst {
    width: 50%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('pre2.jpg');
    background-position: center;
    background-size: 100% 100%;
  }
  
  .offersty {
    width: 50%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('pre1.jpg');
    background-position: center;
    background-size: 100% 100%;
  }
  
  
  .offer-boxsdt {
    position: absolute;
    top: 65%; /* Center vertically */
    left: 27%;
    transform: translate(-30%, -30%); 
    background-color:  transparent; 
    color: white; /* White text color */
    padding: 20px;
    border-radius: 0px;
    z-index: 1; 
  }
  
  .offer-boxsdt h2 {
    text-align: left;
    font-size: 30px;
    margin-left: 180px;
    width: 450px;
    text-transform: uppercase;
  }
  
  .offer-boxsdt p {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-left: 30px;
  }
  
  .offer-boxsdt button {
    padding: 10px 100px;
    background-color: white; /* Button color */
    color: black;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  
  .offer-boxsdty {
    position: absolute;
    top: 70%; /* Center vertically */
    left: 65%;
    transform: translate(-30%, -30%); 
    background-color:  transparent; 
    color: white; /* White text color */
    padding: 20px;
    border-radius: 0px;
    z-index: 1; 
  }
  
  .offer-boxsdty h2 {
    text-align: left;
    font-size: 30px;
    padding-left: 30px;
    text-transform: uppercase;
  }
  
  .offer-boxsdty p {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-left: 30px;
  }
  
  .offer-boxsdty button {
    padding: 10px 100px;
    background-color: white; /* Button color */
    color: black;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .offersp {
    width: 25%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('h3.jpg') ;
    background-position: center;
    background-size: 100% 100%;
  }
  
  .offersf {
    width: 25%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('fr.jpg') ;
    background-position: center;
    background-size: 100% 100%;
  }
  
  .offer4 {
    width: 50%;
    height: 100%;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    background-image: url('h4.jpg') ;
    background-position: center;
    background-size: 100% 100%;
  }
  
  .offer-boxsg {
    position: absolute;
    top: 70%; /* Center vertically */
    left: 23%;
    transform: translate(-30%, -30%); 
    background-color:  transparent; 
    color: black; /* White text color */
    padding: 20px;
    border-radius: 0px;
    z-index: 1; 
  }
  
  .offer-boxsg h2 {
    text-align: left;
    width: 500px;
    font-size: 30px;
    margin-left: 200px;
    text-transform: uppercase;
  }
  
  .offer-boxsg p {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    padding-left: 120px;
  }
  
  .offer-boxsg button {
    padding: 10px 100px;
    background-color: black; /* Button color */
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .menu-items {
    display: flex; /* Use flexbox to arrange items horizontally */
    align-items: center; /* Vertically align the items */
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #ddd; /* Border top */
    border-bottom: 1px solid #ddd; /* Border bottom */
  }
  
  
  .menu-items img.menu-icon {
    width: 90px; /* Set image width */
    height: 55px; /* Set image height */
    margin-right: 10px; /* Space between image and text */
  }
  
  .menu-items span {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    cursor: default;
    flex-grow: 1; /* Allow the span to take available space */
  }
  
  .menu-items:first-child span {
    color: red;
    font-weight: bold;
  }
  
  .menu-items span:hover {
    text-decoration: underline;
  }
  
  .plus-sign {
    font-size: 18px;
    color: #000;
    margin-left: 10px; /* Space between text and + sign */
    cursor: pointer;
  }
  
  /* Mobile Dashboard Button */
  #mobile-dashboard {
    display: none;
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 1100;
  }
  
  #dashboard-toggle {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 0px;
  }
  
  /* Sliding Menu */
  #mobile-menu {
    position: fixed;
    top: 0;
    right: -105%; /* Hidden off-screen initially */
    width: 100%;
    height: 700px;
    background-color: white;
    transition: right 0.5s ease-in-out; /* Transition applied on 'right' */
    z-index: 1200;
    padding: 20px;
    padding-top: 50px;
    overflow-y: auto; /* Ensure scrolling if content overflows */
  }
  
  #mobile-menu.show {
    right: 0; /* Move menu to visible position */
  }
  
  #mobile-menu .back-btn {
    position: absolute;
    top: 5px; /* Positioning from the top */
    left: 25px; /* Positioning from the left */
    font-size: 18px;
    cursor: pointer;
  }
  
  #mobile-menu .close-btn {
    position: absolute;
    top: 5px; /* Positioning from the top */
    right: 20px; /* Positioning from the right */
    font-size: 18px;
    cursor: pointer;
  }
  
  #mobile-menu h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  #mobile-menu .menu-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  /* Media Query for Mobile */
  @media (max-width: 768px) {
    .menu {
        display: none; /* Hide desktop menu */
    }
  
    #mobile-dashboard {
        display: block; /* Show dashboard button */
    }
  }
  
  

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #444;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
 
  
  .terms-of-use {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 800px;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .terms-of-use h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: #8A2BE2;
  }
  
  .terms-of-use h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #8A2BE2;
  }
  
  .terms-of-use p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .terms-of-use a {
    color: #8A2BE2;
    text-decoration: none;
  }
  
  .terms-of-use a:hover {
    text-decoration: underline;
  }
  
  .terms-of-use ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  .terms-of-use li {
    margin-bottom: 10px;
  }